.legend {
    z-index: 999;
    position: relative;
    left: 418px;
    bottom: 559px;
    padding: 1px 15px 10px 15px;
    box-shadow: 0 0 5px 0 rgba(239, 235, 235, 0.3);
    font-size: 12px;
    letter-spacing: 2px;
    background: white;
    border-radius: 5px;
    opacity:0.7;
    text-align: left;
    width: 150px;
}

.legend-title {
    font-size: 12px;
    font-weight: bold;
}

.legend>div {
    color: black;
    position: relative;
    display: flex;
    height: 15px;
    padding: 0px 2px;
    align-items: center;
}

.legend>div::before {
    content: "";
    background-color: var(--color);
    width: 10px;
    height: 10px;
    margin-right: 5px;
    align-items: center;
}

@media (max-width: 768px) {
    .legend {
        left: 308px;
        bottom: 473px;
        padding: 1px 10px 5px 10px;
        font-size: 10px;
        width: 110px;
        letter-spacing: 1.5px;
    }

    .legend-title {
        font-size: 10px;
        font-weight: bold;
    }
}

@media (max-width: 480px) {
    .legend {
        left: 228px;
        bottom: 433px;
        padding: 1px 5px 5px 5px;
        font-size: 8px;
        width: 90px;
        letter-spacing: 1px;
    }

    .legend-title {
        font-size: 9px;
        font-weight: bold;
    }

    .legend>div {
        height: 10px;
    }

    .legend>div::before {
        content: "";
        background-color: var(--color);
        width: 8px;
        height: 8px;
        margin-right: 5px;
        align-items: center;
    }
}